.mySwiper {
  width: 100%;
  height: 400px; /* Adjust height for Swiper container */
}

.card {
  height: 500px; /* Set a height for each card */
  display: flex;
  flex-direction: column; /* Ensure the content stacks vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  transition: transform 0.3s; /* Smooth transition for scaling */
}
